In [1]:
import pandas as pd

In [3]:
icebergs_train = pd.read_json("train.json")
icebergs_test = pd.read_json("test.json")

icebergs_train.head()

,band_1,band_2,id,inc_angle,is_iceberg
0,"[-27.878360999999998, -27.15416, -28.668615, -...","[-27.154118, -29.537888, -31.0306, -32.190483,...",dfd5f913,43.9239,0
1,"[-12.242375, -14.920304999999999, -14.920363, ...","[-31.506321, -27.984554, -26.645678, -23.76760...",e25388fd,38.1562,0
2,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",58b2aaa0,45.2859,1
3,"[-22.454607, -23.082819, -23.998013, -23.99805...","[-27.889421, -27.519794, -27.165262, -29.10350...",4cfc3a18,43.8306,0
4,"[-26.006956, -23.164886, -23.164886, -26.89116...","[-27.206915, -30.259186, -30.259186, -23.16495...",271f93f4,35.6256,0

In [4]:
icebergs_test.head()

,band_1,band_2,id,inc_angle
0,"[-15.863251, -15.201077, -17.887735, -19.17248...","[-21.629612, -21.142353, -23.908337, -28.34524...",5941774d,34.966400
1,"[-26.058969497680664, -26.058969497680664, -26...","[-25.754207611083984, -25.754207611083984, -25...",4023181e,32.615072
2,"[-14.14109992980957, -15.064241409301758, -17....","[-14.74563980102539, -14.590410232543945, -14....",b20200e4,37.505433
3,"[-12.167478, -13.706167, -16.54837, -13.572674...","[-24.32222, -26.375538, -24.096739, -23.8769, ...",e7f018bb,34.473900
4,"[-23.37459373474121, -26.02718162536621, -28.1...","[-25.72234344482422, -27.011577606201172, -23....",4371c8c3,43.918874

In [11]:
print(len(icebergs_train.iloc[0,1]))
print(icebergs_train.shape)
print(icebergs_test.shape)
print(icebergs_train.is_iceberg.mean())

5625
(1604, 5)
(8424, 4)
0.4694513715710723

In [10]:
cc_fraud_data = pd.read_csv("creditcard.csv")
cc_fraud_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [32]:
import numpy as np
item_count = np.arange(0,len(icebergs_train.band_1.loc[0]))
print(len(item_count))
print(item_count)

item_label = []
for num in item_count:
    item_label.append('band_1_item_' + str(num))

icebergs_train[item_label] = pd.DataFrame(icebergs_train.band_1.values.tolist())
icebergs_train.head()

5625
[   0    1    2 ..., 5622 5623 5624]

,band_1,band_2,id,inc_angle,is_iceberg,band_2_item_0,band_2_item_1,band_2_item_2,band_2_item_3,band_2_item_4,...,band_1_item_5615,band_1_item_5616,band_1_item_5617,band_1_item_5618,band_1_item_5619,band_1_item_5620,band_1_item_5621,band_1_item_5622,band_1_item_5623,band_1_item_5624
0,"[-27.878360999999998, -27.15416, -28.668615, -...","[-27.154118, -29.537888, -31.0306, -32.190483,...",dfd5f913,43.9239,0,-27.878361,-27.154160,-28.668615,-29.537971,-29.092485,...,-29.541130,-30.010794,-32.837418,-31.033928,-29.095772,-29.095812,-29.095856,-26.817032,-27.881983,-28.268127
1,"[-12.242375, -14.920304999999999, -14.920363, ...","[-31.506321, -27.984554, -26.645678, -23.76760...",e25388fd,38.1562,0,-12.242375,-14.920305,-14.920363,-12.666336,-10.387527,...,-9.232068,-10.633927,-10.585052,-12.609128,-11.403269,-10.064391,-11.731194,-11.087559,-8.246684,-8.666801
2,"[-24.603676, -24.603714, -24.871029, -23.15277...","[-24.870956, -24.092632, -20.653963, -19.41104...",58b2aaa0,45.2859,1,-24.603676,-24.603714,-24.871029,-23.152775,-21.532150,...,-26.677433,-27.018137,-26.677505,-24.874012,-23.381378,-21.535130,-20.825722,-21.912914,-22.512215,-25.150005
3,"[-22.454607, -23.082819, -23.998013, -23.99805...","[-27.889421, -27.519794, -27.165262, -29.10350...",4cfc3a18,43.8306,0,-22.454607,-23.082819,-23.998013,-23.998053,-24.753868,...,-25.024166,-26.499931,-24.001200,-21.147892,-19.279501,-19.858818,-23.306129,-24.497887,-27.168705,-25.585121
4,"[-26.006956, -23.164886, -23.164886, -26.89116...","[-27.206915, -30.259186, -30.259186, -23.16495...",271f93f4,35.6256,0,-26.006956,-23.164886,-23.164886,-26.891163,-25.731390,...,-24.958117,-26.297119,-28.605057,-29.395292,-24.958384,-25.736813,-24.244209,-26.297522,-28.991562,-25.469801